<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Heading for the Quora-style posts section -->
    <h1>Quora Posts</h1>

    <!-- Looping through the 'posts' array and displaying each post -->
    <% for(post of posts){ %>
        <div class="post">
            <!-- Displaying the username of the post author -->
            <h3 class="user">@<%= post.username %></h3>
            
            <!-- Displaying the content of the post -->
            <h4 class="content"><%= post.content %></h4>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete Post</button>
            </form>
        </div>
    <% } %>

    <!-- Link to create a new post -->
    <a href="http://localhost:8080/posts/new">Create New Post</a>
</body>

</html>

